<h3>MyWebHub の使用方法</h3>
<p>
    MyWebHubへようこそ!
</p>
<p>
    MyWebHubは、GithubのAOuth認証機能をつかって、Gistの一覧表示や、投稿が行えるアプリケーションです。
</p>
<p>
    MyWebHubを使用するには、OAuth認証を行いアクセストークンを取得する必要があります。<br>
    OAuth認証を行うには<a href="/oauth">OAuth認証のページ</a>に行き、「<span class="explain">OAuth認証を行う</span>」を押してください。<br>
    そうすると、Githubへ移動し、ログイン画面が現れます。このとき、このアプリケーションが使用する権限が表示されます。<br>
</p>
<p>
    また、OAuth認証で得たアクセストークンは、cookieに保存されています。
    cookieからアクセストークンを削除したい場合は、<a href="/oauth">OAuth認証のページ</a>
    に行き、「<span class="explain">アクセストークンの削除</span>」を押してください。<br>
    アクセストークンが有効であるかは、
    右上のマーク<img src="assets/ok_icon.png">/<img src="assets/bad_icon.png">で確認できます。
</p>