<ul class="menu_ul">
    <li *ngFor="let item of menuItems" class="menu_item">
        <a *ngIf="item.parent == '' && item.url != ''"
           href="{{item.url}}">
            {{item.name}}
        </a>

        <ul *ngIf="item.parent == '' && item.url == ''" class="sub_menu_ul">
            {{item.name}}
            <li *ngFor="let sub_item of menuItems">
                <a *ngIf="sub_item.parent == item.name" href="{{sub_item.url}}">
                    {{sub_item.name}}
                </a>
            </li>
        </ul>
    </li>
</ul>