ul {
    display: block;
    list-style-type: none;
    padding : 0;
}
ul {
    color : #FFFFFF;
}

ul a{
    color : #FFFFFF;
    text-decoration: none;
}
ul div{
    padding: 5px;
    height: 30px;
}
.menu_ul{
    padding : 0;
}

.sub_menu_ul li div{
    padding-left: 15px;
}

@media screen and (max-width: 1024px) {
    ul div{
        padding: 5px;
        height: 45px;
    }
}
