ul {
    display: block;
    list-style-type: none;
    padding : 0;
}
ul {
    color : #FFFFFF;
}

ul a{
    color : #FFFFFF;
    text-decoration: none;
}

.menu_ul{
    padding : 0;
}

.menu_ul li{
    display: block;
    padding-top : 5px;
    padding-left : 5px;
}

.sub_menu_ul {

}
.sub_menu_ul li{
    padding-top : 0;
    padding-left : 0;
}
.sub_menu_ul li a{
    display: block;
    padding-top : 5px;
    padding-left : 10px;
}
.sub_menu_ul a{
}

@media screen and (max-width: 640px) {
    .manu_ul {
        width : 50%;
        float: left;
    }
}