@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

*:focus {
  outline: none;
}

.dropdown-menu-appear {
  opacity: 0;
  transform: translateY(-12px);
}

.dropdown-menu-enter-done {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.25s ease-out;
}

$loader-color: #000;
$loader-background: transparent;
$loader-size: 20px;

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: $loader-size;
  height: $loader-size;
  border-radius: 50%;
  background: #000000;
  background: linear-gradient(to right, #000000 10%, rgba(0, 0, 0, 0) 50%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #000000;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: lightgray;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
