<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>redirect_uri</key>
	<string></string>
	<key>scope</key>
	<string>user:follow,repo,notifications,gist,read:org</string>
	<key>client_id</key>
	<string></string>
	<key>client_secret</key>
	<string></string>
</dict>
</plist>
