.gist-editor {
    width: 100%;
    height: 100%;
    position: relative;
}
.gist-editor input {
    font-size: medium;
    -webkit-appearance: none; 
}
.gist-editor > .editor{
    height: calc(100% - 6rem);
}
.gist-editor > .editor > .desc {
    width: 100%;
    display: block;
    line-height: 2rem;
    border-radius: 3px;
    border: solid 0.5px #ccc;
    padding-left: 1rem;
}
.gist-editor > .editor >.desc, .gist-editor > .editor > .file > .filename {
    transition: border-color ease-in-out 0.3s;
}
.gist-editor > .editor > .desc:focus, .gist-editor > .editor > .file > .filename:focus {
    border-color: #2196f3;
}
.gist-editor > .editor > .file {
    height: calc(100% - 2rem);
}
.gist-editor > .editor > .file > .button {
    margin-top: 1rem;
    border: solid 1px #ddd;
    width: 100px;
    border-radius: 3px;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}
.gist-editor > .editor > .file > .button.delete {
    border-color: #f00;
    color: #f00;
    transition: background ease-in-out 0.3s;
}
.gist-editor > .editor > .file > .button.delete:hover {
    background: #f00;
    color: #fff;
}
.gist-editor > .editor > .file > .filename {
    width: 100%;
    display: block;
    line-height: 2rem;
    border-radius: 5px 5px 0 0;
    border: solid 0.5px #ccc;
    margin-top: 1rem;
    padding-left: 1rem;
}
.gist-editor > .editor > .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.gist-editor > .editor > .buttons .button {
    border: none;
    background: #2A2A32;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    line-height: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    transition: background ease-in-out 0.3s;
}
.gist-editor > .editor > .buttons > div {
    display: flex;
}
.gist-editor > .editor > .buttons > div > .button.public {
    background: #fff;
    color: #333;
    border: solid 1px #ddd;
}
.gist-editor > .editor > .buttons > div > .button:first-child {
    margin-right: 1rem;
}
.gist-editor > .editor > .buttons .button:hover {
    background: #000;
}
.gist-editor > .message {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.CodeMirror {
    font-family: monospace;
    font-size: 14px;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    border: solid 0.5px #ccc;
    border-top: none;
    cursor: text;
    height: calc(100% - 6rem)!important;
}
.CodeMirror-gutters {
    background: #fff!important;
    border-right: none!important;
}