.gist-list {
    width: 100%;
    min-height: 100%;
    position: relative;
    border-top: solid 0.5px #ccc;
    border-bottom: solid 0.5px #ccc;
}
.gist-list > a {
    color: #333;
    text-decoration: none;
}
.gist-list > .message {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.gist-list > .root > .load {
    width: calc(100% - 2rem);
    height: 60px;
    line-height: 60px;
    display: block;
    box-sizing: border-box;
    border: solid 1px #ddd;
    border-radius: 3px;
    text-align: center;
    background: #fff;
    margin: 1rem auto;
    font-weight: bold;
    transition: background ease-in-out 0.3s;
    cursor: pointer;
}
.gist-list > .root > .load:hover {
    background: #fafafa;
    border-color: #999;
}
.gist-list .gist-item {
    cursor: pointer;
    border-bottom: solid 0.5px #ddd;
}
.gist-list .gist-item:hover {
    background: #fafafa;
}
.gist-list .gist-item * {
    pointer-events: none;
}
.gist-list .gist-item a{
    pointer-events: auto;
}