.my-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    transition: transform 0.3s ease-in-out;
    font-size:medium;
    background:rgba(0,0,0,0.4);
    display: none!important;
}
.my-dialog.visible {
    display: block!important;
}
.my-dialog > .dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    border: none;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);;
    background: #fff;
    border-radius: 5px;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    width: 95%;
    max-width: calc(450px - 2rem);
    min-width: 280px;
    max-height: 12.5rem;
    line-height: 1.5rem;
    margin: auto;
    padding: 1rem;
    color: #333;
}
.my-dialog > .dialog > h2 {
    margin: 0;
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}
.my-dialog > .dialog > p {
    width: 100%;
    height: 3.5rem;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
}
.my-dialog > .dialog > p.min {
    height: 1.5rem;
}
.my-dialog > .dialog > input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #ddd;
    line-height: 2rem;
    transition: border-color ease-in-out 0.3s;
    font-size: medium;
    -webkit-appearance: none;
    border-radius: 0;
}
.my-dialog > .dialog > input:focus{
    border-color: #1E90FF;
}
.my-dialog > .dialog > .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.my-dialog > .dialog > .buttons > .button {
    padding: 0 0.5rem;
    text-align: center;
    border-radius: 3px;
    margin-left: 1rem;
    line-height: 2rem;
    cursor: pointer;
    font-weight: bold;
    transition: background ease-in-out 0.3s;
    color: #2979FF;
    user-select: none;
    background: none;
    border: none;
}
.my-dialog > .dialog > .buttons > .button:hover {
    background: #E3F2FD;
}