.p-loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  p {
    text-align: center;
    margin-top: 20px;
  }
  .cssload-loader {
    display: block;
    margin: 0 auto;
    width: 29px;
    height: 29px;
    position: relative;
    border: 4px solid rgb(0, 0, 0);
    animation: cssload-loader 2.3s infinite ease;
    -o-animation: cssload-loader 2.3s infinite ease;
    -ms-animation: cssload-loader 2.3s infinite ease;
    -webkit-animation: cssload-loader 2.3s infinite ease;
    -moz-animation: cssload-loader 2.3s infinite ease;
  }

  .cssload-loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: rgb(0, 0, 0);
    animation: cssload-loader-inner 2.3s infinite ease-in;
    -o-animation: cssload-loader-inner 2.3s infinite ease-in;
    -ms-animation: cssload-loader-inner 2.3s infinite ease-in;
    -webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
    -moz-animation: cssload-loader-inner 2.3s infinite ease-in;
  }

  @keyframes cssload-loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @-o-keyframes cssload-loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @-ms-keyframes cssload-loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes cssload-loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @-moz-keyframes cssload-loader {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes cssload-loader-inner {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0%;
    }
  }

  @-o-keyframes cssload-loader-inner {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0%;
    }
  }

  @-ms-keyframes cssload-loader-inner {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0%;
    }
  }

  @-webkit-keyframes cssload-loader-inner {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0%;
    }
  }

  @-moz-keyframes cssload-loader-inner {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0%;
    }
  }
}
