/*----------
grid setting
----------*/
.grid_4 {
    width: 99%;
    margin-left: 1%
}

.grid_3 {
    width: 74%;
    margin-left: 1%
}

.grid_2 {
    width: 49%;
    margin-left: 1%
}

.grid_1 {
    width: 24%;
    margin-left: 1%
}

.grid_full {
    width: 100%;
}
/*----------
color setting
----------*/
header {
    background-color: #FFFFF8;
}

.hr_block {
    background-color: #0F1E32
}

app-menu {
    background-color: #FFFFF8;
}

#main {
    background-color: #FFFFF8;
}
/*----------
font setting
----------*/
@media screen {
    * {
        font-size: inherit;
    }
}

@media screen and (max-width: 1024px) {
    * {
        font-size: inherit;
    }
}

@media screen and (max-width: 640px) {
    * {
        font-size: inherit;
    }
}

a {
    text-decoration: none;
}
/*----------
main area setting
----------*/
#main {
    display: block;
    overflow: hidden;
}
app-menu {
    top: 0;
    left: 0;
    display: block;
    float: left;
}

#router-outlet {
    top: 0;
    right: 0;
    min-height: 200px;
    display: block;
    margin: 0;
    float: left;
}
/*----------
block setting
----------*/
.center_block {
    margin: 0 auto;
    display: block;
}

.hr_block {
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
}
/*----------
header area setting
----------*/
#titile_container {
    display: block;
    height: 75px;
}

#title, #sub_title, app-token-checker {
    display: inline-block;
}
/*----------
responsive block setting
----------*/
@media screen and (max-width: 640px) {
    #titile_container {
        height: auto;
    }
    #title, #sub_title, #app-token-checker {
        display: block;
        width : 100%;
    }
}

@media screen and (max-width: 640px) {
    #app-menu, #router-outlet{
        display: block;
        width : 100%;
    }
}