/*----------
grid setting
----------*/
.grid_4 {
    width: 100%;
}

.grid_3 {
    width: 75%;
}

.grid_2 {
    width: 50%;
}

.grid_1 {
    width: 25%;
}

.grid_full {
    width: 100%;
}

/*----------
color setting
----------*/
header {
    background-color: #FFFFFF;
}

.hr_block {
    background-color: #FFFFFF;
}

app-menu {
    background-color: transparent;
}

#main {
    background-color: #303233;
}

#router-outlet_container {
    background-color: #FFFFFF;
}


/*----------
font setting
----------*/
@media screen {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 640px) {
}

a {
    text-decoration: none;
}

/*----------
main area setting
----------*/
#main {
    display: block;
    overflow: hidden;
}

app-menu {
    top: 0;
    left: 0;
    display: block;
    float: left;
}

#app-menu_container {
    top: 0;
    display: block;
    margin: 0;
    float: left;
    overflow: hidden;
}
#app-menu_outer {
    margin: 2%;
    width: 96%;
    overflow: hidden;
}

#router-outlet_container {
    top: 0;
    min-height: 200px;
    display: block;
    margin: 0;
    float: left;
    overflow: hidden;
}
#router-outlet_outer {
    margin: 2%;
    width: 96%;
    overflow: hidden;
}

/*----------
block setting
----------*/
.center_block {
    margin: 0 auto;
    display: block;
}

.hr_block {
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
}

/*----------
header area setting
----------*/
#titile_container {
    display: block;
    height: 75px;
}

#title, #sub_title, app-token-checker {
    display: inline-block;
}

/*----------
responsive block setting
----------*/
@media screen and (max-width: 640px) {
    #titile_container {
        height: auto;
    }

    #title, #sub_title, #app-token-checker {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    #app-menu, #router-outlet {
        display: block;
        width: 100%;
    }
}