<!--The content below is only a placeholder and can be replaced.-->
<header class="grid_full">
    <div id="header_container" class="grid_4 center_block">

        <h1 id="title" class="grid_1">
            <a href="/">{{ title }}</a>
        </h1>
        <h3 id="sub_title" class="grid_2">
            {{sub_title}}
        </h3>
        <app-token-checker id="app-token-checker" class="grid_1"></app-token-checker>

    </div>
</header>

<div class="hr_block grid_full"></div>
<div id="main" class="grid_4 center_block">

    <app-menu id="app-menu" class="grid_1"></app-menu>
    <div id="router-outlet" class="grid_3">
        <router-outlet></router-outlet>
    </div>

</div>
<div class="hr_block grid_full"></div>

<footer></footer>