.m-header {
  background-color: #252a2e;
  padding: 20px 0;
  .inner-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .title {
      line-height: 40px;
      a {
        font-size: 24px;
        color: #fff;
        vertical-align: middle;
        font-weight: bold;
      }
    }
    .right-content {
      display: flex;
      .button-wrapper {
        display: inline-flex;
        justify-content: center;
      }
      .menu {
        margin-left: 20px;
        ul {
          display: none;
          position: absolute;
          padding: 10px;
          background-color: #fff;
          border: 1px solid #aaa;
          font-size: 14px;
          border-radius: 3px;
          li {
            cursor: pointer;
            &:hover {
              opacity: 0.8;
              text-decoration: underline;
            }
          }
        }
        &:hover {
          ul {
            display: block;
          }
        }
      }
      img {
        width: 40px;
        border-radius: 50%;
        vertical-align: middle;
      }
    }
  }
}
