.m-home {
  .gist-list {
    li {
      padding: 10px 20px;
      border-bottom: 1px solid #ccc;
      transition-duration: 0.2s;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      h2 {
        font-size: 20px;
        line-height: 1.8;
      }
      .details {
        display: flex;
        justify-content: space-between;
        .date {
          font-size: 14px;
          display: inline-flex;
          color: #888;
          flex-direction: column;
          justify-content: center;
        }
        .file-list span {
          display: inline-block;
          font-size: 12px;
          padding: 5px 10px;
          color: #ffffff;
          background-color: #888;
          border-radius: 3px;
          margin-right: 10px;
        }
      }
    }
  }
}
