html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
html * {
    box-sizing: inherit;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    background: #fff;
    color: #111;
    font-family: "游ゴシック", "YuGothic", "Yu Gothic", 'ヒラギノ角ゴ ProN W3', "Hiragino Kaku Gothic ProN", "Meiryo", Helvetica, Arial, sans-serif;
    font-weight: 100;
    padding: 0;
    overflow-x: hidden;
}
a {
    color: #2196f3;
}
#content {
    width: 100%;
    height: 100%;
}
#root{
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 60px;
    background:#24292E;
    color:#fff;
}
header > .content {
    width: 100%;
    max-width: 900px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0;
    margin-left: 1rem;
    font-weight: 100;
    line-height: 60px;
    font-size:xx-large;
}
h1 > a {
    color: #fff;
    text-decoration: none;
}
header > .content > .buttons {
    display: flex;
    height: 100%;
}
main {
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
}
main > .tab_area {
    width: 100%;
    height: 60px;
    background: #fafbfc;
    border-bottom: solid 1px #ddd;
 }
main > .tab_area > .tabs{
    display: flex;
    align-items: flex-end;
    width:100%;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    transform: translateY(1px);
 }
 main > .tab_area > .tabs > .tab {
    height: 40px;
    padding: 0 1rem;
    line-height: 39px;
    margin: 0;
    margin-left: 1rem;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    color: #666;
 }
 main > .tab_area > .tabs > .tab > a {
     color: #666;
     text-decoration: none;
 }
 main > .tab_area > .tabs > .tab.active{
     border: solid 1px #ddd;
     border-bottom: none;
     border-top: solid 3px #ff9800;
     border-radius: 5px 5px 0 0;
     background: #fff;
     color: #333;
}
main > .content > .add{
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0,0,0, 0.24), 0 0 2px rgba(0,0,0, 0.12);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1rem;
 }
main > .content {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 1rem 0;
}
.relative{
    position: relative;
}
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* SpinKit | Simple CSS Spinners http://tobiasahlin.com/spinkit/ */
.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
    0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/* login-github */
.login-github {
    display: flex;
    min-width: 175px;
    flex-wrap: wrap;
    height: 100%;
    box-sizing: border-box;
    transition: background ease-in-out 0.3s;
}
.login-github:hover {
    background: #fff;
    color: #333;
}
.login-github > .button {
   width: 175px;
   height: 60px;
   display: grid;
   grid-template-columns: calc(60px - 1em) 1fr;
   grid-template-rows: 3fr 2fr;
   align-items: center;
   padding: 0.5em;
   cursor: pointer;
   margin: auto 0;
}
.login-github > .button.disabled {
    display:none;
}
.login-github > .button > .icon{
   grid-column: 1;
   grid-row: 1 / 3;
   border-radius: 50%;
   width: auto;
   height: 100%;
   background: #fff;
}
.login-github > .button > .label {
   grid-column: 2;
   grid-row: 1;
   text-align: center;
}
.login-github > .button > .desc {
   font-size: x-small;
   grid-column: 2;
   grid-row: 2;
   text-align: center;
}
.login-github > .dashboard {
   position: fixed;
   width: 450px;
   height: calc(100% - 60px);
   transform: translateX(450px);
   transition: transform ease-in-out 0.3s;
   background: #fff;
   top: 60px; 
   right: 0;
   z-index: 500;
   color: #000;
   overflow: hidden;
   border: solid 0.5px #ddd;
}
.login-github > .dashboard.visible{
   transform: translateX(0);
}

.login-github > .dashboard > .events {
    height: calc(100% - 4rem);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
 }
 .login-github > .dashboard > .events > .messeage {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    bottom: 4rem;
 }
 .login-github > .dashboard > .buttons {
   width: 100%;
   display: flex;
   border-top: solid 0.5px #ddd;
}
.login-github > .dashboard > .buttons > .button {
   width: 50%;
   height: 4rem;
   text-align: center;
   line-height: 4rem;
   cursor: pointer;
   transition: border-color ease-in-out 0.3s;
   font-weight: 500;
   border: solid 0.5px #ddd;
}
.login-github > .dashboard > .buttons > .button:hover {
    border-color: #999;
}
.login-github > .dashboard > .buttons > .negative.button {
    color: #f00;
}
.login-github > .dashboard > .buttons > .negative.button:hover {
    border-color: #f00;
}

/* github-event */
.github-event {
    width: 100%;
    display: grid;
    grid-template-columns: 5.5rem 1fr;
    grid-template-rows: 1.5rem 1.5rem 1.5rem;
    box-sizing: border-box;
    padding: 1rem;
    border-top: solid 0.5px #ddd;
}
.github-event > img {
    width: auto;
    height: 100%;
    border-radius: 50%;
    grid-row: 1 / -1;
    text-align: center;
    align-items: center;
    grid-column: 1;
}
.github-event > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.github-event > div > .action {
    font-weight: 500;
}
.github-event > .target {
    grid-column: 2;
    grid-row: 2;
}
.github-event > .date {
    font-size: small;
}

/* gist-list */
.gist-list {
width: 100%;
   height: calc(100% - 120px);
   position: relative;
}
.gist-list > .messeage {
   width: 100%;
   height: 2rem;
   line-height: 2rem;
   text-align: center;
}