@keyframes popup {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
        background: #fff;
    }
    100% {
        opacity: 1;
    }
}
html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html * {
    box-sizing: inherit;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    background: #fff;
    color: #333;
    font-weight: 500;
    padding: 0;
    overflow-x: hidden;
}
body, input, button {
    font-family: "游ゴシック", "YuGothic", "Yu Gothic", 'ヒラギノ角ゴ ProN W3', "Hiragino Kaku Gothic ProN", "Meiryo", Helvetica, Arial, sans-serif;
}
a {
    color: #2196f3;
}
input, button {
    font-size: medium;
    outline: 0;
}
#content {
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 60px;
    background:#2A2A32;
    color:#fff;
}
header > .content {
    width: 100%;
    max-width: 900px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0;
    margin-left: 1rem;
    font-weight: 100;
    line-height: 60px;
    font-size:xx-large;
}
h1 > a {
    color: #fff;
    text-decoration: none;
}
header > .content > .buttons {
    display: flex;
    height: 100%;
}
header .add {
    width: 60px;
    height:60px;
    background: transparent;
    border: none;
    border-radius: 50%;
    font-family: 'Material Icons';
    color: #fff;
    font-size: xx-large;
    cursor: pointer;
    padding: 0;
    margin-right: 0.5rem;
    transition: color ease-in-out 0.3s;
}
header .add:hover {
    color: #999;
}
main {
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
    animation: fadein 0.5s ease-in-out;
}
main > .tab_area {
    width: 100%;
    height: 60px;
    background: #fafafa;
    border-bottom: solid 1px #ccc;
}
main > .tab_area > .content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
main > .tab_area > .content > h2 {
    margin: 0;
    line-height: 60px;
    padding-left: 1rem;
    font-weight: 700;
}
main > .tab_area > .tabs{
    display: flex;
    align-items: flex-end;
    width:100%;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    padding:0 1rem;
    transform: translateY(1px);
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
main > .tab_area > .tabs > .tab {
    height: 45px;
    line-height: 44px;
    margin: 0;
    margin-right: 1rem;
    font-weight: 500;
    font-size: large;
    color: #666;
    white-space: nowrap;
}
 main > .tab_area > .tabs > .tab > a {
    color: #666;
    text-decoration: none;
    display: block;
    padding: 0 1rem;
}
 main > .tab_area > .tabs > .tab.active{
    border: solid 1px #ccc;
    border-bottom: none;
    border-top: solid 3px #ff9800;
    border-radius: 3px 3px 0 0;
    background: #fff;
    color: #333;
}
main > .content {
    width: 100%;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
main > .content.with_tab {
    height: calc(100% - 60px - 2rem);
    margin: 1rem auto;
}
main > .content.with_padding {
    padding: 0 1rem;
}
main > .content.without_padding {
    padding: 0;
}

main > .content > h2 {
    line-height: 4rem;
    font-weight: 700;
    margin: 0;
    border-bottom: solid 0.5px #ddd;
}
.relative{
    position: relative;
}
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* SpinKit | Simple CSS Spinners http://tobiasahlin.com/spinkit/ */
.spinner {
    width: 40px;
    height: 40px;
    background-color: #24292E;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
    0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/* login-github */
.login-github {
    display: flex;
    min-width: 175px;
    flex-wrap: wrap;
    height: 100%;
    box-sizing: border-box;
    transition: background ease-in-out 0.3s;
}
.login-github:hover {
    background: #fff;
    color: #333;
}
.login-github > .button {
   width: 175px;
   height: 60px;
   display: grid;
   grid-template-columns: calc(60px - 1rem) 1fr;
   grid-template-rows: 3fr 2fr;
   align-items: center;
   padding: 0.5em;
   cursor: pointer;
   margin: auto 0;
}
.login-github > .button.disabled {
    display:none;
}
.login-github > .button > .icon{
   grid-column: 1;
   grid-row: 1 / 3;
   border-radius: 50%;
   width: auto;
   height: 100%;
   background: #fff;
}
.login-github > .button > .label {
   grid-column: 2;
   grid-row: 1;
   text-align: center;
}
.login-github > .button > .desc {
   font-size: x-small;
   grid-column: 2;
   grid-row: 2;
   text-align: center;
}
.login-github > .dashboard {
   position: fixed;
   width: 450px;
   height: calc(100% - 60px);
   transform: translateX(450px);
   transition: transform ease-in-out 0.3s;
   background: #fff;
   bottom: 0; 
   right: 0;
   z-index: 500;
   color: #000;
   border: solid 0.5px #ccc;
}
.login-github > .dashboard.visible{
   transform: translateX(0);
}
.login-github > .dashboard > .list{
    height: calc(100% - 60px);
    overflow: hidden;
}
.login-github > .dashboard > .list > h2 {
    margin: 0;
    border-bottom: solid 0.5px #ccc;
    line-height: 60px;
    font-weight: 500;
    font-size: large;
    padding-left: 1rem;
}
.login-github > .dashboard > .list > .accordion {
    cursor: pointer;
    transition: background ease-in-out 0.3s;
}
.login-github > .dashboard > .list > .accordion:hover {
    background:#fafafa;
}
.login-github > .dashboard > .list > .accordion::before {
    content: 'add';
    font-family: 'Material Icons';
    vertical-align: middle;
    background: #2A2A32;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    display: inline-block;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
.login-github > .dashboard > .list > .accordion.opened {
    background:#fafafa;
}
.login-github > .dashboard > .list > .accordion.opened::before {
    content: 'close ';
    font-family: 'Material Icons';
    vertical-align: middle;
}
.login-github > .dashboard > .list > .event-list {
    height: calc(100% - 60px);
}
.login-github > .dashboard > .list > .user-list {
    height: calc(100% - 60px);
}
 .login-github > .dashboard > .buttons {
   width: 100%;
   display: flex;
   border-top: solid 0.5px #ccc;
}
.login-github > .dashboard > .buttons > .button {
   width: 50%;
   height: 60px;
   text-align: center;
   line-height: 60px;
   cursor: pointer;
   transition: border-color ease-in-out 0.3s;
   font-weight: 700;
   border: solid 0.5px #ccc;
   user-select: none;
}
.login-github > .dashboard > .buttons > .button:hover {
    border-color: #999;
}
.login-github > .dashboard > .buttons > .negative.button {
    color: #f00;
}
.login-github > .dashboard > .buttons > .negative.button:hover {
    border-color: #f00;
}
.login-github > .backdrop {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 60px);
    background: rgba(0,0,0,0.4);
    z-index: 100;
}

.event-list {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    border-top: solid 0.5px #ccc;
    -webkit-overflow-scrolling: touch;
 }
.event-list > .message {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.event-list > .root > .load {
    width: calc(100% - 2rem);
    height: 60px;
    line-height: 60px;
    display: block;
    box-sizing: border-box;
    border: solid 1px #ddd;
    border-radius: 3px;
    text-align: center;
    background: #fff;
    margin: 1rem auto;
    font-weight: bold;
    transition: background ease-in-out 0.3s;
    cursor: pointer;
}
.event-list > .root > .load:hover {
    background: #fafafa;
    border-color: #999;
}

/* github-event */
.github-event {
    width: 100%;
    height: 7rem;
}
.github-event > div {
    width: 100%;
    display: grid;
    grid-template-columns: 4.5rem 1rem 1fr 6rem;
    grid-template-rows: 1.5rem 1.5rem 1.5rem;
    box-sizing: border-box;
    padding: 1rem;
    border-bottom: solid 0.5px #ccc;
    animation: slide 0.3s ease-in-out;
}
.github-event > div > a {
    grid-row: 1 / -1;
    grid-column: 1;
    border-radius: 50%;
}
.github-event > div > a > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}
.github-event > div > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.github-event > div > .name {
    grid-column: 3;
    grid-row: 1;
    font-weight: 700;
}
.github-event > div > .date {
    text-align: right;
    grid-column: 4;
    grid-row: 1;
}
.github-event > div > .action {
    grid-column: 3 / -1;
    grid-row: 2;
}
.github-event > div > .target {
    grid-column: 3 / -1;
    grid-row: 3;
}

/* gist-list */
.gist-list {
    width: 100%;
    min-height: 100%;
    position: relative;
    border-top: solid 0.5px #ccc;
    border-bottom: solid 0.5px #ccc;
}
.gist-list > a {
    color: #333;
    text-decoration: none;
}
.gist-list > a > .gist-item {
    border-bottom: solid 0.5px #ccc;
}
.gist-list > .message {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.gist-list > .root > .load {
    width: calc(100% - 2rem);
    height: 60px;
    line-height: 60px;
    display: block;
    box-sizing: border-box;
    border: solid 1px #ddd;
    border-radius: 3px;
    text-align: center;
    background: #fff;
    margin: 1rem auto;
    font-weight: bold;
    transition: background ease-in-out 0.3s;
    cursor: pointer;
}
.gist-list > .root > .load:hover {
    background: #fafafa;
    border-color: #999;
}

/* gist-item */
.gist-item {
    width: 100%;
    height: 7rem;
    position: relative;
}
.gist-item > .root {
    width: 100%;
    border-bottom: solid 0.5px #ddd;
    padding: 1rem;
    display: grid;
    grid-template-columns: 4.5rem 1rem 1fr 6rem;
    grid-template-rows: max-content max-content max-content max-content 1fr;
    line-height: 1.5rem;
    animation: popup 0.3s ease-in-out;
}
.gist-item > .root > span, .gist-item > .root > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.gist-item > .root > a.icon {
    grid-column: 1;
    grid-row: 1 / 4;
    border-radius: 50%;
}
.gist-item > .root > a > img {
    width: 100%;
    height: 4.5rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}
.gist-item > .root > div {
    grid-column: 3;
    grid-row: 1;
    font-weight: 700;
}
.gist-item > .root > .secret::before {
    content: 'lock ';
    font-family: 'Material Icons';
    vertical-align: middle;
}
.gist-item > .root > .date {
    grid-column: 4;
    grid-row: 1;
    text-align: right;
}
.gist-item > .root > .desc {
    grid-column: 3 / -1;
    grid-row: 2;
}
.gist-item > .root > .open {
    grid-column: 1 / -1;
    grid-row: 3;
    text-align: center;
}

.gist-item.detail {
    height: 100%;
}
.gist-item.detail > .root {
    width: 100%;
    height: 100%;
    border-bottom: none;
}
.gist-item.detail > .root > .comments {
    grid-column: 3;
    grid-row: 3;
}
.gist-item.detail > .root > .gist {
    grid-column: 1 / -1;
    grid-row: 5;
    position: relative;
}
.gist-item.detail > .root > .gist > iframe {
    width: 100%;
    margin-top: 1rem;
    border: none;
}
.gist-item.detail > .root > div, .gist-item.detail > .root > span {
    text-overflow: initial;
    overflow: initial;
    white-space: initial;
}
.gist-item > .root > .buttons {
    grid-column: 1 / -1;
    grid-row: 4;
    display: flex;
    justify-content: space-between;
}
.gist-item > .root > .buttons > button {
    background: #fff;
    border: solid 1px;
    border-radius: 3px;
    width: calc(50% - 0.5rem);
    height: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}
.gist-item > .root > .buttons > .star, .gist-item > .root > .buttons > .forks {
    border-color: #ddd;
}
.gist-item > .root > .buttons > .star, .gist-item > .root > .buttons > .forks:hover {
    transition: border-color ease-in-out 0.3s;
}
.gist-item > .root > .buttons > .star:hover, .gist-item > .root > .buttons > .forks:hover {
    border-color: #999;
}
.gist-item > .root > .buttons > .star::before {
    content: 'star_border ';
    font-family: 'Material Icons';
    vertical-align: middle;
}
.gist-item > .root > .buttons > .star.starred {
    border-color: #FFC107;
    color: #FFC107;
}
.gist-item > .root > .buttons > .star.starred::before {
    content: 'star ';
    font-family: 'Material Icons';
    vertical-align: middle;
}
.gist-item > .root > .buttons > .delete {
    color: #f00;
    border-color: #ddd;
    transition: background ease-in-out 0.3s;
}
.gist-item > .root > .buttons > .delete:hover {
    color: #fff;
    font-weight: 700;
    background: #f00;
    border-color:  #f00;
}
.gist-item > .root > .buttons > .delete::before{
    content: 'delete_outline ';
    font-family: 'Material Icons';
    vertical-align: middle;
}
.gist-item > .root > .buttons > .delete:hover::before{
    content: 'delete ';
}
.gist-item > .root > .buttons > .delete.confirm {
    color: #fff;
    font-weight: 700;
    background: #f00;
    border-color:  #f00;
}
.gist-item > .root > .buttons > .delete.confirm::before{
    content: none;
}
.gist-item > .message {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

/* gist-editor */
.gist-editor {
    width: 100%;
    height: calc(100% - 6rem);
    position: relative;
}
.gist-editor input {
    font-size: medium;
    -webkit-appearance: none; 
}
.gist-editor > .editor > .desc {
    width: 100%;
    display: block;
    line-height: 2rem;
    border-radius: 3px;
    border: solid 0.5px #ccc;
    padding-left: 1rem;
}
.gist-editor > .editor >.desc, .gist-editor > .editor > .file > .filename {
    transition: border-color ease-in-out 0.3s;
}
.gist-editor > .editor > .desc:focus, .gist-editor > .editor > .file > .filename:focus {
    border-color: #2196f3;
}
.gist-editor > .editor > .file > .button {
    margin-top: 1rem;
    border: solid 1px #ddd;
    width: 100px;
    border-radius: 3px;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}
.gist-editor > .editor > .file > .button.delete {
    border-color: #f00;
    color: #f00;
    transition: background ease-in-out 0.3s;
}
.gist-editor > .editor > .file > .button.delete:hover {
    background: #f00;
    color: #fff;
}
.gist-editor > .editor > .file > .filename {
    width: 100%;
    display: block;
    line-height: 2rem;
    border-radius: 5px 5px 0 0;
    border: solid 0.5px #ccc;
    margin-top: 1rem;
    padding-left: 1rem;
}
.gist-editor > .editor > .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.gist-editor > .editor > .buttons .button {
    border: none;
    background: #2A2A32;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    line-height: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    transition: background ease-in-out 0.3s;
}
.gist-editor > .editor > .buttons > div {
    display: flex;
}
.gist-editor > .editor > .buttons > div > .button.public {
    background: #fff;
    color: #333;
    border: solid 1px #ddd;
}
.gist-editor > .editor > .buttons > div > .button:first-child {
    margin-right: 1rem;
}
.gist-editor > .editor > .buttons .button:hover {
    background: #000;
}
.gist-editor > .message {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.CodeMirror {
    font-family: monospace;
    font-size: 14px;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    border: solid 0.5px #ccc;
    border-top: none;
    cursor: text;
}
.CodeMirror-gutters {
    background: #fff!important;
    border-right: none!important;
}

/* my-dialog */
.my-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    transition: transform 0.3s ease-in-out;
    font-size:medium;
    background:rgba(0,0,0,0.4);
    display: none!important;
}
.my-dialog.visible {
    display: block!important;
}
.my-dialog > .dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    border: none;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);;
    background: #fff;
    border-radius: 5px;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    width: 95%;
    max-width: calc(450px - 2rem);
    min-width: 280px;
    max-height: 12.5rem;
    line-height: 1.5rem;
    margin: auto;
    padding: 1rem;
    color: #333;
}
.my-dialog > .dialog > h2 {
    margin: 0;
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}
.my-dialog > .dialog > p {
    width: 100%;
    height: 3.5rem;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
}
.my-dialog > .dialog > p.min {
    height: 1.5rem;
}
.my-dialog > .dialog > input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #ddd;
    line-height: 2rem;
    transition: border-color ease-in-out 0.3s;
    font-size: medium;
    -webkit-appearance: none;
    border-radius: 0;
}
.my-dialog > .dialog > input:focus{
    border-color: #1E90FF;
}
.my-dialog > .dialog > .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.my-dialog > .dialog > .buttons > .button {
    padding: 0 0.5rem;
    text-align: center;
    border-radius: 3px;
    margin-left: 1rem;
    line-height: 2rem;
    cursor: pointer;
    font-weight: bold;
    transition: background ease-in-out 0.3s;
    color: #2979FF;
    user-select: none;
    background: none;
    border: none;
}
.my-dialog > .dialog > .buttons > .button:hover {
    background: #E3F2FD;
}

/* user-list */
.user-list {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    border-bottom: solid 0.5px #ccc;
    -webkit-overflow-scrolling: touch;
}
.user-list > .message {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.user-list > .root > .load {
    width: calc(100% - 2rem);
    height: 60px;
    line-height: 60px;
    display: block;
    box-sizing: border-box;
    border: solid 1px #ddd;
    border-radius: 3px;
    text-align: center;
    background: #fff;
    margin: 1rem auto;
    font-weight: bold;
    transition: background ease-in-out 0.3s;
    cursor: pointer;
}
.user-list > .root > .load:hover {
    background: #fafafa;
    border-color: #999;
}

/* user-item */
.user-item {
    width: 100%;
    height: 6rem;
    position: relative;
}
.user-item > .root {
    width: 100%;
    border-bottom: solid 0.5px #ddd;
    padding: 1rem;
    display: grid;
    grid-template-columns: 4rem 1rem 1fr;
    grid-template-rows: 2rem 2rem;
    line-height: 1.5rem;
    animation: slide 0.3s ease-in-out;
    line-height: 3rem;
}
.user-item > .root > a.icon {
    grid-column: 1;
    grid-row: 1 / -1;
    border-radius: 50%;
}
.user-item > .root > a > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}
.user-item > .root > .name {
    grid-column: 3;
    grid-row: 1;
    font-weight: 700;
}
.user-item > .root > .open {
    grid-column: 3;
    grid-row: 2;
    font-weight: 700;
    text-align: center;
}