html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
html * {
    box-sizing: inherit;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    background: #fff;
    color: #111;
    font-weight: 100;
    padding: 0;
    overflow-x: hidden;
}
body, input {
    font-family: "游ゴシック", "YuGothic", "Yu Gothic", 'ヒラギノ角ゴ ProN W3', "Hiragino Kaku Gothic ProN", "Meiryo", Helvetica, Arial, sans-serif;
    font-weight: 100;
}
a {
    color: #2196f3;
}
#content {
    width: 100%;
    height: 100%;
}
#root{
    width: 100%;
    height: calc(100% - 60px);
}
header {
    width: 100%;
    height: 60px;
    background:#24292E;
    color:#fff;
}
header > .content {
    width: 100%;
    max-width: 900px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0;
    margin-left: 1rem;
    font-weight: 100;
    line-height: 60px;
    font-size:xx-large;
}
h1 > a {
    color: #fff;
    text-decoration: none;
}
header > .content > .buttons {
    display: flex;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main > .tab_area {
    width: 100%;
    height: 60px;
    background: #fafafa;
    border-bottom: solid 1px #ccc;
}
main > .tab_area > .tabs{
    display: flex;
    align-items: flex-end;
    width:100%;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    transform: translateY(1px);
}
 main > .tab_area > .tabs > .tab {
    height: 45px;
    line-height: 44px;
    margin: 0;
    margin-left: 1rem;
    font-weight: 500;
    font-size: large;
    color: #666;
}
 main > .tab_area > .tabs > .tab > a {
    color: #666;
    text-decoration: none;
    display: block;
    padding: 0 1rem;
}
 main > .tab_area > .tabs > .tab.active{
    border: solid 1px #ccc;
    border-bottom: none;
    border-top: solid 3px #ff9800;
    border-radius: 5px 5px 0 0;
    background: #fff;
    color: #333;
}
main > .content {
    width: 100%;
    max-width: 900px;
    height: calc(100% - 2rem);
    margin: 1rem auto;
    padding: 1rem 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
main > .content.with_tab {
    height: calc(100% - 60px - 2rem);
}
main > .content.with_padding {
    padding: 0 1rem;
}
main > .content > h2 {
    line-height: 4rem;
    font-weight: 500;
    margin: 0;
    border-bottom: solid 0.5px #ddd;
}
main > .content > .add{
    width: calc(100% - 2rem);
    height: 60px;
    line-height: 60px;
    display: block;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-radius: 5px;
    text-align: center;
    margin:0 auto 1rem;
    text-decoration: none;
    background: #fafafa;
    color: #333;
    font-weight: bold;
    transition: background ease-in-out 0.3s;
 }
 main > .content > .add:hover {
     background: #eee;
     border-color: #bbb;
 }
.relative{
    position: relative;
}
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* SpinKit | Simple CSS Spinners http://tobiasahlin.com/spinkit/ */
.spinner {
    width: 40px;
    height: 40px;
    background-color: #24292E;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
    0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/* login-github */
.login-github {
    display: flex;
    min-width: 175px;
    flex-wrap: wrap;
    height: 100%;
    box-sizing: border-box;
    transition: background ease-in-out 0.3s;
}
.login-github:hover {
    background: #fff;
    color: #333;
}
.login-github > .button {
   width: 175px;
   height: 60px;
   display: grid;
   grid-template-columns: calc(60px - 1em) 1fr;
   grid-template-rows: 3fr 2fr;
   align-items: center;
   padding: 0.5em;
   cursor: pointer;
   margin: auto 0;
}
.login-github > .button.disabled {
    display:none;
}
.login-github > .button > .icon{
   grid-column: 1;
   grid-row: 1 / 3;
   border-radius: 50%;
   width: auto;
   height: 100%;
   background: #fff;
}
.login-github > .button > .label {
   grid-column: 2;
   grid-row: 1;
   text-align: center;
}
.login-github > .button > .desc {
   font-size: x-small;
   grid-column: 2;
   grid-row: 2;
   text-align: center;
}
.login-github > .dashboard {
   position: fixed;
   width: 450px;
   height: calc(100% - 60px);
   transform: translateX(450px);
   transition: transform ease-in-out 0.3s;
   background: #fff;
   top: 60px; 
   right: 0;
   z-index: 500;
   color: #000;
   overflow: hidden;
   border: solid 0.5px #ccc;
}
.blur {
    filter: blur(5px)
}
.login-github > .dashboard.visible{
   transform: translateX(0);
}

.login-github > .dashboard > .events {
    height: calc(100% - 60px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
 }
 .login-github > .dashboard > .events > .messeage {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    bottom: 4rem;
 }
 .login-github > .dashboard > .buttons {
   width: 100%;
   display: flex;
   border-top: solid 0.5px #ccc;
}
.login-github > .dashboard > .buttons > .button {
   width: 50%;
   height: 60px;
   text-align: center;
   line-height: 60px;
   cursor: pointer;
   transition: border-color ease-in-out 0.3s;
   font-weight: 500;
   border: solid 0.5px #ccc;
}
.login-github > .dashboard > .buttons > .button:hover {
    border-color: #999;
}
.login-github > .dashboard > .buttons > .negative.button {
    color: #f00;
}
.login-github > .dashboard > .buttons > .negative.button:hover {
    border-color: #f00;
}

/* github-event */
.github-event {
    width: 100%;
    display: grid;
    grid-template-columns: 4.5rem 1rem 1fr;
    grid-template-rows: 1.5rem 1.5rem 1.5rem;
    box-sizing: border-box;
    padding: 1rem;
    border-top: solid 0.5px #ccc;
}
.github-event > a {
    grid-row: 1 / -1;
    grid-column: 1;
    border-radius: 50%;
}
.github-event > a > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}
.github-event > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    grid-column: 3;
    grid-row: 1;
}
.github-event > div > .action {
    font-weight: 500;
}
.github-event > .target {
    grid-column: 3;
    grid-row: 2;
}
.github-event > .date {
    grid-column: 3;
    grid-row: 3;
}

/* gist-list */
.gist-list {
    width: 100%;
    min-height: 100%;
    position: relative;
    border-top: solid 0.5px #ccc;
    border-bottom: solid 0.5px #ccc;
}
.gist-list > a {
    color: #333;
    text-decoration: none;
}
.gist-list > .messeage {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.gist-list > .load {
    width: calc(100% - 2rem);
    height: 60px;
    line-height: 60px;
    display: block;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-radius: 5px;
    text-align: center;
    background: #fafafa;
    margin: 1rem auto;
    font-weight: bold;
    transition: background ease-in-out 0.3s;
}
.gist-list > .load:hover {
    background: #eee;
    border-color: #bbb;
}

/* my-dialog */
.my-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    transition: transform 0.3s ease-in-out;
    font-size:medium;
    background:rgba(0,0,0,0.5);
    display: none;
}
.my-dialog.visible {
    display: block;
}
.my-dialog > .dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    border: none;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);;
    background: #fff;
    border-radius: 4px;
    width: 450px;
    height: 200px;
    max-width: 90%;
    margin: auto;
    padding: 1rem;
}
.my-dialog > .dialog > h2 {
    margin: 0;
    font-size: larger;
    font-weight: 500;
    line-height: 3rem;
}
.my-dialog > .dialog > p {
    height: calc(100% - 5rem);
    margin: 0;
    padding: 0 1rem;
}
.my-dialog > .dialog > p.min {
    height: 2rem;
}
.my-dialog > .dialog > input {
    width: 100%;
    line-height: 2rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: solid 1px #2196f3;
    outline: 0;
}
.my-dialog > .dialog > .buttons {
    display: flex;
    justify-content: flex-end;
}
.my-dialog > .dialog > .buttons > .button {
    width: 100px;
    text-align: center;
    border: solid 0.5px #999;
    border-radius: 5px;
    margin-left: 1rem;
    line-height: 2rem;
    cursor: pointer;
    font-weight: 500;
    transition: background ease-in-out 0.1s;
}
.my-dialog > .dialog > .buttons > .button.positive {
    border: none;
    background: #2196f3;
    color: #fff;
}
.my-dialog > .dialog > .buttons > .button.positive:hover {
    background: #63b5f6;
}

/* gist-item */
.gist-item {
    width: 100%;
    display: grid;
    grid-template-columns: 5.5rem 1fr 1fr;
    grid-template-rows: 1.5rem 1.5rem 1.5rem;
    box-sizing: border-box;
    padding: 1rem;
    border-bottom: solid 0.5px #ccc;
    cursor: pointer;
}
.gist-item > img {
    width: calc(100% - 1rem);
    height: 100%;
    border-radius: 50%;
    grid-row: 1 / -1;
    text-align: center;
    align-items: center;
    grid-column: 1;
}
.gist-item > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.gist-item > .name_and_files {
    grid-column: 2 / -1;
    grid-row: 1;
    font-weight: 500;
}
.gist-item > .desc {
    grid-column: 2 / -1;
    grid-row: 2;
}
.gist-item > .date {
    grid-column: 2 / -1;
    grid-row: 3;
}
.gist-item > .comments {
    grid-column: 3;
    grid-row: 3;
}

/* gist-editor */
.gist-editor {
    width: 100%;
    height: calc(100% - 4rem);
    position: relative;
}
.gist-editor input {
    font-size: medium;
}
.gist-editor > .editor > .desc {
    width: 100%;
    display: block;
    line-height: 2rem;
    border-radius: 5px;
    border: solid 0.5px #ccc;
    outline: 0;
    margin: 1rem 0 0 0;
    font-weight: 500;
    padding-left: 1rem;
}
.gist-editor > .editor >.desc, .gist-editor > .editor > .file > .filename {
    transition: border-color ease-in-out 0.3s;
}
.gist-editor > .editor > .desc:focus, .gist-editor > .editor > .file > .filename:focus {
    border-color: #2196f3;
}
.gist-editor > .editor > .file > .button {
    margin-top: 1rem;
    border: solid 0.5px #ccc;
    width: 100px;
    border-radius: 5px;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}
.gist-editor > .editor > .file > .button.negative {
    border-color: #f00;
    color: #f00;
}
.gist-editor > .editor > .file > .filename {
    width: 100%;
    display: block;
    line-height: 2rem;
    border-radius: 5px 5px 0 0;
    border: solid 0.5px #ccc;
    outline: 0;
    margin-top: 1rem;
    font-weight: 500;
    padding-left: 1rem;
}
.gist-editor > .editor > .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.gist-editor > .editor > .buttons .button {
    border: solid 0.5px #ccc;
    background: #fafafa;
    border-radius: 5px;
    line-height: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    transition: background ease-in-out 0.3s;
}
.gist-editor > .editor > .buttons > div {
    display: flex;
}
.gist-editor > .editor > .buttons > div > .button.secret {
    background: #ebf1af;
}
.gist-editor > .editor > .buttons > div > .button:first-child {
    margin-right: 1rem;
}
.gist-editor > .editor > .buttons .button:hover {
    background: #eee;
    border-color: #bbb;
}
.gist-editor > .messeage {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.CodeMirror {
    font-family: monospace;
    font-size: 14px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    border: solid 0.5px #ccc;
    border-top: none;
}
.CodeMirror-gutters {
    background: #fff!important;
    border-right: none!important;
}