<form [formGroup]="postGistForm" (ngSubmit)="onSubmit()" id="post_gist_form">
    <table>
        <tr>
            <td class="itemname_td"> Description</td>
            <td class="input_td">
                <input type="text" formControlName="description"
                       name="description" placeholder="test code from my github app" value="">
            </td>
        </tr>
        <tr>
            <td class="itemname_td">Release</td>
            <td class="input_td">
                <label>public
                    <input type="radio" formControlName="release" name="release" value="true" [checked]="true">
                </label>
                 /
                <label>private
                    <input type="radio" formControlName="release" name="release" value="false" >
                </label>
            </td>
        </tr>
        <tr>
            <td class="itemname_td">File name</td>
            <td class="input_td">
                <input type="text" formControlName="fileName"
                       name="fileName" placeholder="from_my_github_app.txt"value="">
            </td>
        </tr>
        <tr>
            <td class="itemname_td" id="gist_editor_label">content</td>
            <td class="input_td">
                <textarea id="gist_editor" formControlName="content"
                       name="content" ></textarea>
            </td>
        </tr>
        <tr>
            <td class="itemname_td"></td>
            <td class="input_td"><button id="post_button" type="submit">Post Gist !!</button></td>
        </tr>
    </table>
</form>

<div *ngIf="postingGistSucceded == 1">
    Posting Gist is Succeded  (｀・ω・´)
</div>
<div *ngIf="postingGistSucceded ==-1">
    Posting Gist is Failure  (´・ω・｀)
</div>