/*----------
table setting
----------*/
#post_gist_form ,
#post_gist_form > table{
    width : 100%;
}
#gist_editor {
    display: block;
    min-height: 200px;
}
#post_gist_form tr{
    width : 100%;
}
#post_gist_form td{

}
/*----------
table data cell setting
----------*/
#post_gist_form td {
    margin : 0;
    padding : 0;
}
.itemname_td{
    width : 80px;
    display: block;
    margin : 0;
    line-height: 45px;
}
.input_td {
    width:83%;
}
.input_td > label {
    width :50%;
}
.input_td > input ,
.input_td > textarea {
    margin : 3px;
    padding :10px;
    width :90%;
}
#gist_editor_label {
    padding-top : 5px;
    vertical-align: top;
}

#post_button {
    margin-left: auto;
}
