<div id="gist_area">
    <h3>All Gists</h3>
    <div id="input_container">
        <div class="input_outer">
            <label>読み込みGist数:
                <input type="number" [(ngModel)]="readLimit">
            </label>
        </div>
        <div class="input_outer">
            <button (click)="reloadGists()">reload Gists</button>
        </div>
    </div>

    <div *ngFor="let gist of gists" class="gist_container">
        <div>
            <app-gist-single [gist]="gist"></app-gist-single>
        </div>
    </div>
</div>