<div id="gist_area">
    <h3>All Gists</h3>
    <div id="input_container">
        <div class="input_outer">
            <label>ページ
                <input type="number" [(ngModel)]="page">
            </label>
        </div>
        <div class="input_outer">
            <label>1ページのGist
                <input type="number" [(ngModel)]="readLimit">
            </label>
        </div>
        <div class="input_outer">
            <button (click)="reloadGists()">reload Gists</button>
        </div>
        <div class="input_outer">
            <label>
                表示:gist{{readLimit*(page -1 ) + 1}}～{{readLimit*(page) }}
            </label>
        </div>
    </div>

    <div *ngIf="gists" class="gist_container">
        <div *ngFor="let gist of gists">
            <app-gist-single [gist]="gist"></app-gist-single>
        </div>
    </div>
</div>